In [1]:
import nltk
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

In [2]:
df=pd.read_csv('corpus.csv',encoding='gbk')
df.head()

   id word
0   1   帮我
1   1   查下
2   1   明天
3   1   北京
4   1   天气

In [49]:
display(df.groupby(['word']))

In [8]:
id_list=list(df.id)
word_list=list(df.word)
print(id_list,word_list)

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8] ['帮我', '查下', '明天', '北京', '天气', '怎么样', '帮我', '查下', '今天', '北京', '天气', '好不好', '帮我', '查询', '去', '北京', '的', '火车', '帮我', '查看', '到', '上海', '的', '火车', '帮我', '查看', '特朗普', '的', '新闻', '帮我', '看看', '有没有', '北京', '的', '新闻', '帮我', '搜索', '上海', '有', '什么', '好玩的', '帮我', '找找', '上海', '东方明珠', '在哪']

In [66]:
cps=[]
for i in df.groupby(['id']):
    
    seg_list=list(i[1].word)
    
    print(seg_list)
    seg=' '.join(seg_list)
    cps.append(seg)
print(cps)
    #print(i[1])
    #print(i[1].word)

['帮我', '查下', '明天', '北京', '天气', '怎么样']
['帮我', '查下', '今天', '北京', '天气', '好不好']
['帮我', '查询', '去', '北京', '的', '火车']
['帮我', '查看', '到', '上海', '的', '火车']
['帮我', '查看', '特朗普', '的', '新闻']
['帮我', '看看', '有没有', '北京', '的', '新闻']
['帮我', '搜索', '上海', '有', '什么', '好玩的']
['帮我', '找找', '上海', '东方明珠', '在哪']
['帮我 查下 明天 北京 天气 怎么样', '帮我 查下 今天 北京 天气 好不好', '帮我 查询 去 北京 的 火车', '帮我 查看 到 上海 的 火车', '帮我 查看 特朗普 的 新闻', '帮我 看看 有没有 北京 的 新闻', '帮我 搜索 上海 有 什么 好玩的', '帮我 找找 上海 东方明珠 在哪']

In [18]:
a=df.groupby(['id']).sum()
a

             word
id
1   帮我查下明天北京天气怎么样
2   帮我查下今天北京天气好不好
3      帮我查询去北京的火车
4      帮我查看到上海的火车
5      帮我查看特朗普的新闻
6    帮我看看有没有北京的新闻
7    帮我搜索上海有什么好玩的
8    帮我找找上海东方明珠在哪

In [33]:
df.groupby('word').mean()

            id
word
上海    6.333333
东方明珠  8.000000
什么    7.000000
今天    2.000000
到     4.000000
北京    3.000000
去     3.000000
在哪    8.000000
天气    1.500000
好不好   2.000000
好玩的   7.000000
帮我    4.500000
怎么样   1.000000
找找    8.000000
搜索    7.000000
新闻    5.500000
明天    1.000000
有     7.000000
有没有   6.000000
查下    1.500000
查看    4.500000
查询    3.000000
火车    3.500000
特朗普   5.000000
的     4.500000
看看    6.000000

In [ ]:
#计算词频

In [56]:
a_list=[1,'2', '34',5,]
b=' '.join(a_list)
print(b)

TypeError: sequence item 0: expected str instance, int found

In [64]:
seg=['帮我', '查下', '明天', '北京', '天气', '怎么样']
c=' '.join(seg)
c

'帮我 查下 明天 北京 天气 怎么样'

In [68]:
# 计算词频
for i in cps:
    ii=i.split(' ')
    cfd=dict(nltk.FreqDist(ii))
    print(cfd)

#d=c.split(' ')
#print(dict(nltk.FreqDist(d)))

{'帮我': 1, '查下': 1, '明天': 1, '北京': 1, '天气': 1, '怎么样': 1}
{'帮我': 1, '查下': 1, '今天': 1, '北京': 1, '天气': 1, '好不好': 1}
{'帮我': 1, '查询': 1, '去': 1, '北京': 1, '的': 1, '火车': 1}
{'帮我': 1, '查看': 1, '到': 1, '上海': 1, '的': 1, '火车': 1}
{'帮我': 1, '查看': 1, '特朗普': 1, '的': 1, '新闻': 1}
{'帮我': 1, '看看': 1, '有没有': 1, '北京': 1, '的': 1, '新闻': 1}
{'帮我': 1, '搜索': 1, '上海': 1, '有': 1, '什么': 1, '好玩的': 1}
{'帮我': 1, '找找': 1, '上海': 1, '东方明珠': 1, '在哪': 1}

In [77]:
#用BOW方法计算词袋信息
vectoerizer=CountVectorizer(min_df=1,max_df=1.0,token_pattern='\\b\\w+\\b')
vectoerizer.fit(cps)
bag_of_words=vectorizer.get_feature_names()
print('bag of words')
print(bag_of_words)
print('len bag of words:',len(bag_of_words))

bag of words
['上海', '东方明珠', '什么', '今天', '到', '北京', '去', '在哪', '天气', '好不好', '好玩的', '帮我', '怎么样', '找找', '搜索', '新闻', '明天', '有', '有没有', '查下', '查看', '查询', '火车', '特朗普', '的', '看看']
len bag of words: 26

In [78]:
X=vectorizer.transform(cps)
print("Vectoerized copus:")
print(X.toarray())
print("index of '的' is:{}".format(vectoerizer.vocabulary_.get('的')))

Vectoerized copus:
[[0 0 0 0 0 1 0 0 1 0 0 1 1 0 0 0 1 0 0 1 0 0 0 0 0 0]
 [0 0 0 1 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0]
 [0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0]
 [1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 1 1 0]
 [0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 1 1]
 [1 0 1 0 0 0 0 0 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0]
 [1 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0]]
index of '的' is:24

In [86]:
tfidf_transformer=TfidfTransformer()
tfidf_transformer.fit(X.toarray())
for idx,word in enumerate(vectoerizer.get_feature_names()):
    print("{}\t{}".format(word,tfidf_transformer.idf_[idx]))

上海	1.8109302162163288
东方明珠	2.504077396776274
什么	2.504077396776274
今天	2.504077396776274
到	2.504077396776274
北京	1.587786664902119
去	2.504077396776274
在哪	2.504077396776274
天气	2.09861228866811
好不好	2.504077396776274
好玩的	2.504077396776274
帮我	1.0
怎么样	2.504077396776274
找找	2.504077396776274
搜索	2.504077396776274
新闻	2.09861228866811
明天	2.504077396776274
有	2.504077396776274
有没有	2.504077396776274
查下	2.09861228866811
查看	2.09861228866811
查询	2.504077396776274
火车	2.09861228866811
特朗普	2.504077396776274
的	1.587786664902119
看看	2.504077396776274

In [83]:
list(df.id)

[1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8]

In [87]:
tfidf=tfidf_transformer.transform(X)
print(tfidf.toarray())

[[0.         0.         0.         0.         0.         0.3183848
  0.         0.         0.42081614 0.         0.         0.20052115
  0.50212047 0.         0.         0.         0.50212047 0.
  0.         0.42081614 0.         0.         0.         0.
  0.         0.        ]
 [0.         0.         0.         0.50212047 0.         0.3183848
  0.         0.         0.42081614 0.50212047 0.         0.20052115
  0.         0.         0.         0.         0.         0.
  0.         0.42081614 0.         0.         0.         0.
  0.         0.        ]
 [0.         0.         0.         0.         0.         0.33116919
  0.52228256 0.         0.         0.         0.         0.20857285
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.52228256 0.43771355 0.
  0.33116919 0.        ]
 [0.38715525 0.         0.         0.         0.53534183 0.
  0.         0.         0.         0.         0.         0.21378805
  0.         0.         0.         0.         0.         0.
  0.         0.         0.44865824 0.         0.44865824 0.
  0.33944982 0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.23187059
  0.         0.         0.         0.48660646 0.         0.
  0.         0.         0.48660646 0.         0.         0.5806219
  0.36816103 0.        ]
 [0.         0.         0.         0.         0.         0.33116919
  0.         0.         0.         0.         0.         0.20857285
  0.         0.         0.         0.43771355 0.         0.
  0.52228256 0.         0.         0.         0.         0.
  0.33116919 0.52228256]
 [0.33420711 0.         0.4621274  0.         0.         0.
  0.         0.         0.         0.         0.4621274  0.18454996
  0.         0.         0.4621274  0.         0.         0.4621274
  0.         0.         0.         0.         0.         0.
  0.         0.        ]
 [0.37686288 0.52110999 0.         0.         0.         0.
  0.         0.52110999 0.         0.         0.         0.20810458
  0.         0.52110999 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.        ]]